<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DHTMLX.Gantt" version="4.0.0" targetFramework="net46" />
  <package id="Dynamics.Crm.Sdk.Clean" version="7.1.2.1" targetFramework="net45" />
  <package id="Q" version="1.4.1" targetFramework="net452" />
  <package id="q.TypeScript.DefinitelyTyped" version="0.9.5" targetFramework="net452" />
  <package id="xrm.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net46" />
</packages>